* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.parent {
    height: 100vh;
    border: 20px solid black;
    display: flex; /* displays content horizontal/ main axis*/
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-content: flex-start;
}

.child1 {
    width: 100px;
    height: 100px;
    background: rgb(39, 61, 134);
}

.child2 {
    width: 100px;
    height: 100px;
    background: rgb(172, 57, 53);
}

.child3 {
    width: 100px;
    height: 100px;
    background: rgb(149, 43, 140);
}