div { background: #FFFAFA;
 	margin-left: 250px;
 	margin-right: 250px;
 	padding-left: 100px;
 	padding-right: 100px;
 	padding-top: 25px;
 	line-height: 1.6}
 	
h1 {text-align: center;}

body {background: #F5F5F5;
	  font-family: sans-serif;
	  font-size: 14px
	}	