*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    background-color: #333333;
    font-family: 'Poppins', sans-serif;
}

main{
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
    grid-template-rows: 1fr 5fr;
}


.sidebar-l{
    grid-row: 1/3;
    display: grid;
    grid-template-rows: 1fr 1fr;
}

.logo {
    height: 115px;
    width: 102px;
    margin: 40px auto;
}

.logo img{
    max-height: 100%;
    max-width: 100%;
}

.social{
    display: flex;
    margin: auto;
    flex-direction: column;
    width: 30px;
    margin-bottom: 0px;
}

.git{
    margin: 10px auto;
    max-height: 100%;
    max-width: 100%;
}

.linkedin{
    margin: 10px auto;
    max-height: 100%;
    max-width: 100%;
}

.line{
    max-height: 100%;
    width: 3px;
    margin: 10px auto;
    margin-bottom: 0px;
}







.navigate{
    display: flex;
    list-style: none;
    justify-content: flex-end;
    margin-top: 50px;
}

.items{
    margin: 20px;
}

.item{
    text-decoration: none;
    color: #C0D0EA;
    font-size: 15px;
}

.resume{
    margin-right: 0px;
    padding: 10px;
    border-radius: 5px;
    background-color: #354866;
}







.maintext{
    margin-left: 5%;
    grid-row: 2/3;
    grid-column: 2/3;
}
.maint{
    width: 800px;
    margin-top: 8%;
    color: #77A1E6;
}
.maint h4{
    font-size: 13px;
}
.maint h1{
    font-size: 50px;
    color: #C0D0EA;
}
.maint h2{
    font-size: 40px;
}
.maint p{
    margin-top: 20px;
    font-size: 20px;
    color: #5D7EB3;
}
.maintext button{
    margin-top: 30px;
    font-family: 'Poppins', sans-serif;
    width: 120px;
    font-size: 16px;
    padding: 5px;
    color: #C0D0EA;
    background: transparent;
    border: 2px solid #77A1E6;
    cursor: pointer;
    border-radius: 5px;
}



.sidebar-r{
    grid-row: 1/3;
}
.email{
    height: 350px;
}

.email img{
    max-height: 100%;
    margin-left: 50%;
}
